.jumbotron {
    margin-top:50px;
    color: #fff;
    background-color:white;
    padding: 0px 0px 0px 0px;
    font-family: Montserrat, sans-serif; 
  }
.jumbotron h1{
  color:white;
  font-weight: bold;

}
.jumbotron p{
  color:white;
  font-weight: bold;
}
.slideshow{
  padding:none;
  
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #1026ec;
}
.carousel-indicators li {
  border-color: #1026ec;
}
.carousel-indicators li.active {
  background-color: #3c14ee;
}