.storeimage{
    height: 180px;
    width:200px;
    margin:none;
    
}
.sweet-loading{
    margin-top:20%;
}
.identify{
    margin-top:-5%;
    margin-bottom: -5%;
    margin-left:-2%;
}
.storesbutton{
    display: inline-block;
    margin:none;
    padding:none;
}
.names{
    color:#000080;
    font-weight:600;
}
.search{
    margin:10%;
}
.card-show{
    display: inline;
}
.storesbuttongroup{
    margin-left:0%;
    margin-top:5%;
    margin-bottom:none;
}
.card-body ul li{
    list-style:none;
}
.card-body{
    margin-left:20%;
}
.row{
    margin-left:11%; 
}
.showlist{
    margin-bottom:10%;
}
.searcharea{
    width:100%;
    float:left;
    margin:none;
    padding:none;
}
