.viewbuttongroup{
    margin-left:30%;
    margin-top:2%;
}
.viewbuttongroups{
    margin-left:30%;
    margin-top:4%;
}
.viewcard-body{
    margin-right:0%;
    width:150%;

}
.viewcard-body ul li{
    list-style: none;
}
.viewbutton{
    display: inline;
    margin:2%;
}
.upbtn{
    margin-top:10%;
    margin-left:-10%;
}
.storeimages{
    margin-top:35%;
    height: 180px;
    width:200px;
    margin:none;
}
.identifies{
    margin-top:-9%;
    margin-bottom:-10%;
    margin-left:-5%;
}
.contains{
    padding:2%;
    border-radius:1%;
    margin-bottom:2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.viewbuttongroups{
    margin-top:8%;
}